<span class="glyphicon glyphicon-ok"></span>
<span class="glyphicon glyphicon-refresh"></span>
<span class="status-button-label">
  {{#if error.resolved}}
    Mark as unresolved
  {{else}}
    Mark as resolved
  {{/if}}
</span>
