<table class="table">
  <thead>
    <tr>
      <td>Message</td>
      <td>When</td>
   </tr>
 </thead>
 <tbody>
  {{#each model key="id" as |event|}}
    <tr>
      <td class="nowrap max-width-300">
        {{#link-to "projects.project.errors.error.events.event" event.id}}
          {{event.json.trace.message}}
        {{/link-to}}
      </td>
      <td>{{event.createdAt}}</td>
    </tr>
  {{/each}}
</tbody>
</table>
