<form {{action "save" on="submit"}} role="form">

  <div class="form-group {{if model.errors.name 'has-error'}}">
    <label for="name" class="control-label">Name</label>
    {{input elementId="name" value=model.name class="form-control"}}
    {{#each model.errors.name key='@guid' as |e|}}<span class="help-block">{{e.message}}</span>{{/each}}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Project</button>
    {{#if model.isNew}}or {{#link-to "projects"}}Cancel{{/link-to}}{{/if}}
  </div>
</form>
