<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="projects new">
        <div class="opener">
          <h1>Create New Project</h1>
          <p>Ohh, exciting new project time</p>
        </div>

        <form {{action "save" on="submit"}} role="form" class="form-project box">
          <div class="form-group {{if model.errors.name 'has-error'}}">
            <label for="name" class="control-label">Name</label>
            {{input elementId="name" value=model.name class="form-control"}}

            {{#each model.errors.name as |e|}}
              <span class="help-block">{{e.message}}</span>
            {{/each}}

            {{#unless model.errors.name}}
              <p class="help-block">The name of the project</p>
            {{/unless}}
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Project</button>
            {{#if model.isNew}}or {{#link-to "projects" class="text-danger"}}Cancel{{/link-to}}{{/if}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
