<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="opener">
      <h1>Installation Instructions</h1>
    </div>
{{#highlight-code lang="bash"}}$ ember install ember-cli-erraroo{{/highlight-code}}
{{#highlight-code lang="javascript" model=model}}// config/environment.js
ENV['ember-cli-erraroo'] = {
  token: '{{model.token}}',
};{{/highlight-code}}
  </div>
</div>
