$width: 260px;

.errors {
  font-size: 13px;

  .errors-toolbar {
    padding: 10px;
    border-bottom: 3px solid #efefef;
  }

  .error {
    border-bottom: 2px solid #efefef;

    -webkit-transition: background-color 250ms ease-in;
    -moz-transition: background-color 250ms ease-in;
    -o-transition: background-color 250ms ease-in;
    -ms-transition: background-color 250ms ease-in;
    transition: background-color 250ms ease-in;

    -webkit-transition: border-color 250ms ease-in;
    -moz-transition: border-color 250ms ease-in;
    -o-transition: border-color 250ms ease-in;
    -ms-transition: border-color 250ms ease-in;
    transition: border-color 250ms ease-in;

    a {
      text-decoration: none !important;
      padding: 10px;
      display: block;
      color: $text-color;
      transition: background-color 0.5s ease;
    }

    a.mute {
      padding: 2px;
    }

    a:hover {
      text-decoration: none;
      background: #f5f5f5;
    }

    .error-header {

    }

    .error-body {

    }

    &.unseen {

    }
  }
}

.errors-outlet {
  margin-left: $width;
}

