.stack-trace {
  overflow: hidden;
}

.stack-trace .frame {
  margin-bottom: 1em;

  .context {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    padding: 0px 10px;
    white-space: pre;

    /*cursor: pointer;*/

    margin: 0;
    padding: 0;
    list-style-position: inside;

    li {
      margin: 0px;
      padding: 0 5px;
      height: 0;
      overflow: hidden;
      color: #999;
      background: #fafafa;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .highlight {
      color: #333;
      background: darken(#fafafa, 5%);
      height: auto;
    }
  }
}

.stack-trace .frame.is-expanded {
  .context li {
    height: auto;
  }
}

