$text-color: #444444;

$brand-blue: #2C82C9;
$brand-green: #2CC990;
$brand-yellow: #EEE657;
$brand-orange: #FCB941;
$brand-red: #FC6042;
$brand-primary: $brand-blue;
$brand-success: $brand-green;
$brand-warning: $brand-orange;
$brand-danger: $brand-red;
$brand-faint-highlight: #fffddc;

$navbar-default-color:  #797979;
$navbar-default-bg:     #ffffff;
$navbar-default-border: darken($navbar-default-bg, 6.5%) !default;
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
$btn-default-border:    $gray-lighter;
