$text-color: #444444;

$brand-blue: #2C82C9;
$brand-green: #2CC990;
$brand-yellow: #EEE657;
$brand-orange: #FCB941;
$brand-red: #FC6042;
$brand-primary: $brand-blue;
$brand-success: $brand-green;
$brand-warning: $brand-orange;
$brand-danger: $brand-red;
$brand-faint-highlight: #fffddc;

$brand-primary: #F23818;

// Basics of a navbar
$navbar-height:                    36px;
$navbar-margin-bottom:             0px;
$navbar-collapse-max-height:       340px;

$navbar-default-color:             $brand-primary;
$navbar-default-bg:                rgba(255,255,255, 0.9);

// Navbar links
$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          darken($brand-primary, 6.5%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         darken($brand-primary, 15%);
$navbar-default-link-active-bg:            $navbar-default-bg;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;


@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
$btn-default-border:$gray-lighter;
