{{#if session.isAuthenticated}}{{partial 'header'}}{{/if}}
{{outlet}}

<div id="erraroo-debug-helper">
  <button {{action "asdfasdf"}}>asdfasfd</button>
  <button {{action "handled"}}>undefined in handler</button>
</div>
