{{#if session.isAuthenticated}}{{partial 'header'}}{{/if}}
{{outlet}}

<div id="erraroo-debug-helper">
  <button {{action "triggerReoccuringError"}}>reocurring</button>
  <button {{action "triggerNewError"}}>new</button>
</div>
