<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="opener">
      <h1>Forgot your password?</h1>
      <p>Don't fret, it happens to the best of us :(</p>
    </div>
    {{#if model.message}}
      <div class="alert alert-danger">
        {{model.message}}
      </div>
    {{/if}}

    <div class="form-forgot-password box">
      <div class="form-group">
        <label for="email">Email:</label>
        {{input value=model.email elementId="email" class="form-control"}}
      </div>

      <div class="form-actions">
        <button {{action "requestPassword" model.email}} class="btn btn-primary">Request new password</button>
      </div>
    </div>
  </div>
</div>
