<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="opener">
      <h1>Invite a new user</h1>
    </div>

    <form {{action "save" on="submit"}} class="form-invite box">
      <div class="form-group">
        <label for="email">Email</label>
        {{input value=model.address elementId="address" class="form-control" placeholder="bob@example.com"}}
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Send Invitation</button>
      </div>
    </form>
  </div>
</div>
