{{#if currentProject}}
  <nav class="nav simple-nav current-project-nav">
    {{#link-to "projects.project.config" class="pull-right"}}
      <span class="glyphicon glyphicon-cog"></span>
    {{/link-to}}
    {{#link-to "projects.project.groups"}}Errors{{/link-to}}
    {{#link-to "projects.project.performance"}}Perfomance{{/link-to}}
  </nav>
{{/if}}

{{outlet}}
