<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class=page-header>
      <h2>Hey! Reset your password!</h2>
    </div>

    {{#each model.errors.Token as |message|}}
      <div class="alert alert-danger">{{message}}</div>
    {{/each}}

    <div class="form-group">
      <label for="new-password">New Password:</label>
      {{input type="password" value=model.password elementId="new-password" class="form-control"}}
      {{#each model.errors.Password as |message|}}
        <div class="text-danger">{{message}}</div>
      {{/each}}
    </div>

    <div class="form-actions">
      <button {{action "resetPassword"}} class="btn btn-primary">Reset Password</button>
    </div>
  </div>
</div>
