<nav class="simple-nav">
  <div class="container">
    {{#link-to "settings.index"}}Notifcations{{/link-to}}
    {{#link-to "settings.password"}}Password{{/link-to}}
  </div>
</nav>

<div class="container settings-body">
  {{outlet}}
</div>
